<footer class="bg-dark-blue bottom-0 w-100 pa3 pv4" role="contentinfo">
  <div class="flex flex-column items-center tc">
    <div class="social-links mb3">
      <a href="https://github.com/jonnyzzz" title="GitHub">GitHub</a>
      <a href="https://x.com/jonnyzzz" title="X (Twitter)">X</a>
      <a href="https://linkedin.com/in/jonnyzzz" title="LinkedIn">LinkedIn</a>
      <a href="https://www.youtube.com/@jonnyzzz" title="YouTube">YouTube</a>
    </div>
    <div class="f6 white-60">
      &copy; <a class="hover-white" href="https://jonnyzzz.com">Eugene Petrenko</a> (<a class="hover-white" href="https://github.com/jonnyzzz">@jonnyzzz</a>) {{ now.Format "2006" }}
    </div>
  </div>
</footer>
